# См. http://добро.сайт/база_знаний/vcs/общее/что_помещать_в_vcs

### Файлы IDE
/.idea

### Файлы, создаваемые менеджерами пакетов
/htdocs/node_modules
/htdocs/vendor/*
!/htdocs/vendor/.htaccess
/node_modules
/vendor

### Настройки окружения
# Локальные настройки сборки
Makefile.local

### Файлы данных
## Wordpress
/htdocs/wp-content/uploads/*
!/htdocs/wp-content/uploads/.htaccess

### Временные файлы
*.bak
*.tmp
*~
tmp

### Прочие файлы
# Изменения, которые не смог применить patch.
*.rej
